  strong {
    font-weight: 500;
  }
  

  span {
    color: #5b98ff;
    font-weight: bold;
  }
  
  h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: #000;
    font-weight: 500;
  }

  h3{
    font-size: larger;
  }

  h4{
    text-transform: uppercase;
  }
.legend {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: #5b98ff;
  }

