.logobar {
  background-color: #fff;
  padding-top: 18px;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.navbar{
  margin-left:auto;
  margin-right: auto;
}

  h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: #000;
    font-weight: bolder;
  }

  legend {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: #5b98ff;
  }
 
  hr{
    color: #5b98ff;
    height: 1px;
  }

.navbar-nav .nav-link.active{
color: #99ceff;
  }

.nav-link:hover{color:#5b98ff}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#5b98ff ;
}

.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: var(--bs-border-radius);
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.py-4 {
  padding-top: 0 !important;
  padding-bottom: 1.5rem !important;
}


.centered-button {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.btn-primary {
  --bs-btn-color: #f8f9fa;
  --bs-btn-bg: #5b98ff;
  --bs-btn-border-color: #5b98ff;
  --bs-btn-hover-color: #f8f9fa;
  --bs-btn-hover-bg: #005eff;
  --bs-btn-hover-border-color: #5b98ff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #f8f9fa;
  --bs-btn-active-bg: #5b98ff;
  --bs-btn-active-border-color: #5b98ff;
  --bs-btn-active-shadow: inset 1 3px 5px rgba(211, 4, 4, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: #5b98ff;
  --bs-btn-disabled-border-color: #5b98ff;
  --text-weight: bolder
}

*, *::before, *::after {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  flex-direction: row;
  align-content: stretch;
}



.card-body {
  background: #555555;
}

span {
  color: #5b98ff;
}

.card-title {
  margin-bottom: 0.5em;
  color: var(--bs-card-title-color);
}

h4 {
  color: #f8f9fa !important;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
}

.bi {
  color: #5b98ff;
  font-weight: 700;
  font-size: 20px;
}

th {
  font-weight: bold;
}

strong {
  font-weight: 500;
}

table {
  margin-bottom: 2rem !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #fff!important;
}

.mt-auto {
  margin-top: auto !important;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;           
}

.inner {
  padding: 30px;
  background-color: #404040;
  opacity: 100!important;
}

.background-image {
  height: 100vh;
  width: 100vw;
  
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-image: url(../assets/images/datacenter.jpg);
}

.onder {
  padding: 20px;
  text-align: center; 
  background-color: #fff;
  text-transform: uppercase;
  font-size: x-large;
}

.boven {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.innerin {
  background-color: #fff;
  padding-top: 10px;
  padding-left: 20px ;
  padding-bottom: 10px;
  padding-right: 20px;
}
.progressbg {
  background-color: #5b98ff;
}

.fade-bottom-container {
  position: relative;
  display: inline-block; /* Ensure the container wraps tightly around the image */
}

.fade-bottom-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%; /* Adjust this to control the fade height */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none; /* Make sure this overlay doesn't block clicks */
}